.page {
    font-family: "Times New Roman", Times, serif;
    background-color: antiquewhite;
}

.recipe-card {
    background-color: lightgrey;
    margin: 150px 150px;
    border: 5px solid lightskyblue;
    padding: 10px;
}

.center-text {
    text-align: center;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.resize-image {
    height: 400px;
    width: auto;
}